:root {
--text-main: #212121;
--text-green: #006540;
--text-orange: #e36414;
--white: #fff;
--bg-light-gray: #ececec;
--bg-dark-gray: #4c4c4e;

--font-heading: 'Grandstander', cursive;

}

header {
background-color: var(--text-green);
color: var(--white);
padding: 4rem 0;
}
footer {
background-color: var(--bg-dark-gray);
color: var(--white);
padding: 4rem 0;
margin-top: 4rem;
}
header p.lead {
    font-size: 2rem;
    font-weight: 900;
    font-variant: small-caps;
}
header p.sub {
	font-size: 1.5rem;
	font-style: italic;
	opacity: 0.33;
}
header p, footer p {
margin: 0;
font-family: var(--font-heading);

}
nav {
background-color: var(--bg-light-gray);
color: var(--text-green);
padding: 1rem;
}
/* Navigācijas bloks */

nav ul {
 margin: 0;
 padding: 0;
}
nav ul li {
 list-style-type: none;
 display: inline-block;
}
nav ul li::after {
content: "\2693";
}
nav ul li:last-child::after {
 content: "";
}
nav ul li a {
color: var(--text-orange);
}

main p {
 text-align: justify;
}

/* Navigācijas bloks END */

main {
 padding: 0 0.5rem;
}
main p {
 text-align: justify;
}
.related-panel h3 {
 text-align: center;
}
.related-panel img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 max-width: 100%;
}

/*Lielā bilde */
figure {
 display: block;
 width: 100%;
 margin: 0;
 position: relative;
}

* {
 box-sizing: border-box;
}
html {
 font-family: var(--font-default);
 font-size: 21px;
 color: var(--text-main);
 line-height: 1.5;
}
body {
 margin: 0;
 
 h1, h2, h3 {
font-family: var(--font-heading);
font-size: 1.5rem;
font-weight: 900;
margin-bottom: 0;
color: var(--text-green);
}
.container {
    padding: 0 0.5rem;
}
}

img {
	max-width: 100%;
}
figure img {
 display: block;
 width: 100%;
}
article figure figcaption {
 position: absolute;
 left: 0;
 bottom: 0;
 display: block;
 width: 100%;
 padding: 0.5rem 1rem;
 background-color: rgba(0, 0, 0, 0.5);
 color: var(--white);
font-family: var(--font-heading);
}
/* Tabulas */

table {
border-collapse: collapse;
border: 1px solid var(--bg-dark-gray);
width: 100%;
}
table th, table td {
border-width: 0;
}

table tr th, table tr td {
border-bottom: 1px solid var(--bg-dark-gray);
border-right: 1px solid var(--bg-dark-gray);
padding: 0.25rem 0.5rem;
}
table tr th:last-child, table tr td:last-child {
border-right: none;
}
table tr:last-child th, table tr:last-child td {
border-bottom: none;
}

table tr th {
text-align: left;
background-color: var(--text-green);
color: var(--white);
}
table tr:nth-of-type(odd) td {
background-color: var(--bg-light-gray);
}

/* Tabulas */

header {
background: var(--text-green);
background: linear-gradient(135deg, #007b4d 0%,#002e1e 100%);
color: var(--white);
padding: 4rem 0;
}
header {
    background: var(--text-green);
    background: linear-gradient(135deg, #007b4d 0%, #002e1e 100%);
    color: var(--white);
    padding: 4rem 0;
  }
  
  header p.lead {
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
  }
  
  header p.sub {
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0.33;
  }

/* Lielie ekrāni */


@media screen and (min-width: 992px) {
	
html {
 font-size: 16px;
}

.container {
		display: block;
		width: 992px;
		margin-left: auto ;
		margin-right: auto ;
		
}

/* flexbox */
    .flexbox-columns {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        justify-content: space-between;
        align-items: stretch;
    }
    .flexbox-columns > article {
        flex: 2;
        background-color: var(--bg-light-gray);
       
    }
    .flexbox-columns > aside {
        flex: 1;
        background-color: var(--bg-light-gray);
        
    }
	/* grid container */
.related-content {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 1rem;
row-gap: 1rem;
}
.related-panel {
    background-color: var(--bg-light-gray); 
  }
  
  .related-panel img {
    height: 370px; 
    width: 720px;
    object-fit: cover; 
  }
table tr:hover td {
background-color: var(--text-green);
color: var(--white);
}
}
