:root {
    --text-main: #000000;
    --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-heading:"Roboto", sans-serif;  
    --text-green: #000000;
    --text-orange: #faf7f7;
    --white: #fff;
    --bg-light-gray: #2e2bd8;
    --bg-dark-gray: #2e2bd8;
    
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--font-default);
    font-size: 14px;
    color: var(--text-main);
    line-height: 1.5;
}

body {
    margin: 0;
    background-color: rgb(217, 221, 214);
    font-family: "Radio Canada Big", sans-serif;
}

h1,h2,h3{
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0;
    color: var(--text-orange);
}

.container {
    padding: 0 0.5rem;
}

header {
    background: var(--text-green);
    background: linear-gradient(135deg, #0dd1d1 0%,#350bce 100%);
    color: var(--white);
    padding: 4rem 0;
}

footer {
    background: var(--bg-dark-gray);
    color: var(--white);
    padding: 4rem 0;
    margin-top: 4rem;
}



header p.lead {
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
}
header p.sub {
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0.33;
}

/*
navigacijas josla
*/
nav {
    background-color: var(--bg-light-gray);
    color: var(--text-green);
    padding: 1rem;
}

nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
    
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li::after {
    content: "\1F30E";
}

nav ul li:last-child::after {
    content: '';
}

nav ul li a{
    color:var(--text-green)
}

/* galvenais saturs */

main{
    padding: 0;
}
main p {
    text-align: justify;
}

.related-panel h3 {
    text-align: center;
}

.related-panel img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


    figure {
        display: block;
        width: 100%;
        margin: 0;
        position: relative;
    }

    
figure img {
    display: block;
    width: 100%;
}

figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    padding: 0.15rem 1rem;

    background-color: rgba(14, 129, 206, 0.5);
    color: var(--white);
    font-family: var(--font-heading);
    font-size: 0.75rem;
}

/* tabulas */
table {
    border-collapse: collapse;
    border: 1px solid var(--bg-dark-gray);
    width: 100%;
}
table th, table td {
    border-width: 0;
}

table tr th, table tr td {
    border-bottom: 1px solid var(--bg-dark-gray);
    border-right: 1px solid var(--bg-dark-gray);
    padding: 0.25rem 0.5rem;
}

table tr th {
    text-align: left;
    background-color: var(--text-green);
    color: var(--white);
}

table tr:nth-of-type(odd) td {
    background-color: var(--bg-light-gray);
}


/* lielie ekrÄni */
@media screen and (min-width: 992px) {
    html {
        font-size: 16px;
    }
        .container {
            display: block;
            width: 992px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            
        }
    }


/* flexbox */
    .flexbox-columns {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        justify-content: space-between;
        align-items: stretch;
    }
    .flexbox-columns > article {
        flex: 2;
        
    }
    .flexbox-columns > aside {
        flex: 1;
    }
        /* grid */
        .related-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 1rem;
            row-gap: 1rem;
        }
        .related-panel img {
            height: 370px;
        }
            /* tabulas */
    table tr:hover td {
        background-color: var(--text-green);
        color: var(--white);
    }
